<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:aspectj-autoproxy/>

    <bean name="circle" class="org.aop.model.Circle">
        <property name="name" value="Circle name"/>
    </bean>
    <bean name="triangle" class="org.aop.model.Triangle">
        <property name="name" value="Triangle name"/>
    </bean>

    <bean name="shape" class="org.aop.service.ShapeService" autowire="byName"/>

    <bean name="loggingAspect" class="org.aop.aspect.LoggingAspect"/>

</beans>